<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479537609270-sti55u54jjbgqj27l0la8gqps5dl467s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479537609270-sti55u54jjbgqj27l0la8gqps5dl467s</string>
	<key>API_KEY</key>
	<string>AIzaSyDjoC0OiyX5F73aABHhphn52xoGf3H8XEE</string>
	<key>GCM_SENDER_ID</key>
	<string>479537609270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elMarsa.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>el-marsa-df7c0</string>
	<key>STORAGE_BUCKET</key>
	<string>el-marsa-df7c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479537609270:ios:5c2b731c3f9f47c693b697</string>
</dict>
</plist>